<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="content">
          <div class="logo">DICLE.AI</div>
          <a href="#" class="cta"><button>contact</button></a>
          <ul class="nav_links">
            <li><a href="#">serveces</a></li>
            <li><a href="#"> about us</a></li>
            <li><a href="#">projects</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="sections">this is my section ..... made by salih</div>
    <footer>
      <div class="foot-top">
        footer section biz buraya sosiyal mediya linkleri bırakabiliriz
      </div>
      <div class="foot-bottom">
        şuraya da harita , haklar , vb bırakabiliriz
      </div>
    </footer>
    <script src="app1.js"></script>
  </body>
</html>
